<div class="media">

    <div class="media__image">
      
        <svg class="icon icon--primary">
            <use xlink:href="images/sprite.svg#snap"></use>
          </svg>
      
    </div>
    <div class="media__body">
      <h3 class="media__title">Easy Start & Managed Updates</h3>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus amet deserunt tempora dolore voluptates id architecto adipisci officiis vitae nemo!</p>
    </div>
  </div>


  /* prepared media */

  <section class="block container  block--dark  " >
    <header>
      <h2 class="block__heading block__header">User-friendly Control Panel</h2>
    </header>

    <article class="grid grid--1x2 feature ">
      <img class="block-showcase__image" src="images/ipad.png" alt="">
     
     <div class="feature__heading ">
      <div class="media">
        <div class="media__image">
          <svg class="icon icon--primary">
            <use xlink:href="images/sprite.svg#computer"></use>
          </svg>
        </div>
        <div class="media__body">
          <h3 class="media__title block__heading">
            Easy Start & Managed Updates
          </h3>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus
            amet deserunt tempora dolore voluptates id architecto adipisci
            officiis vitae nemo!
          </p>
        </div>
      </div>
      <div class="media">
        <div class="media__image">
          <svg class="icon icon--primary">
            <use xlink:href="images/sprite.svg#growth"></use>
          </svg>
        </div>
        <div class="media__body">
          <h3 class="media__title block__heading">Stark, GIT & Wp-CLI</h3>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus
            amet deserunt tempora dolore voluptates id architecto adipisci
            officiis vitae nemo!
          </p>
        </div>
      </div>
      <div class="media">
        <div class="media__image">
          <svg class="icon icon--primary">
            <use xlink:href="images/sprite.svg#wordpress"></use>
          </svg>
        </div>
        <div class="media__body">
          <h3 class="media__title block__heading">Dynamic Caching & More</h3>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus
            amet deserunt tempora dolore voluptates id architecto adipisci
            officiis vitae nemo!
          </p>
        </div>
      </div>
    </div>
    </article>
  </section>